.only-border-bottom{
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}
input[type='text'],input[type='email'],input[type='password'],input[type='date'],select{
    box-shadow: none !important;
    background: #ffffff;
}
.cursor-pointer{cursor: pointer;}


#mainSidebar{
    width: 250px;
}
.main{
    padding-left: 250px;
    width: 100%;
}
.accordion-button{
    background-color: #ffffff !important;
    box-shadow: none !important;
}
.nav-link{
    padding-left: 0px !important;
}

#student_registration .nav-tabs .nav-link.active{
    border-bottom: 1px solid blue;
    color: blue !important;
}